
.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}



@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('/public/fonts/Rubik_Lines/RubikLines-Regular.ttf') format('truetype');
  }



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-family: 'Rubik', sans-serif;}




